@charset "EUC-KR";

body {
	background-color: #F8F8F8; /* 빨간색 */
}
.item1 {
	margin-left : 10px;
}
.Headerblock {
	display: flex;
	justify-content: space-between;
	margin : 0px 7%;
}

.Headerblock-inline {
	display: flex;
	gap: 10px;
	align-items: center;
}

.Home-Tab {
	display: flex;
	margin : 0px 7%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.icon {
	width: 24px; /* 원하는 크기로 조정 */
	height: 24px;
	clip-path: circle(60%); /* 원모양 클리핑 경로 */
	transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.icon:hover {
	background-color: #B6B4AC; /* 호버 시 변경할 색상 */
}
.script-center{
	display: flex;
	margin : 0px 7%;
	border : 1px solid black;
}
#Home-Tap-Icon{
	padding : 20px;
	right : 20px;
}