@charset "EUC-KR";

body {
	background-color: #F8F8F8; /* 빨간색 */
}

.item1 {
	margin-left: 10px;
}

.Headerblock {
	display: flex;
	justify-content: space-between;
	margin: 0px 7%;
}

.Headerblock-inline {
	display: flex;
	gap: 10px;
	align-items: center;
}

.Home-Tab {
	display: flex;
	margin: 0px 7%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.icon {
	width: 24px; /* 원하는 크기로 조정 */
	height: 24px;
	clip-path: circle(60%); /* 원모양 클리핑 경로 */
	transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.icon:hover {
	background-color: #B6B4AC; /* 호버 시 변경할 색상 */
}

.script-center {
	display: flex;
	margin: 0px 7%;
	border: 1px solid black;
}

.add-container {
	display: flesx;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	width: 100%;
}

.add-title[type="text"] {
	width: 100%;
	padding: 10px;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	height: 40px; /* 높이 조정 */
}

#Home-Tap-Icon {
	padding: 20px;
	right: 20px;
}